.answers {
	padding-top: 10px;
}
.queans-boxinner {
	padding-bottom: 15px;
}
.queans-box textarea {
	resize: none;
	height: 80px;
}
.questions-row .col-sm-10, .answers-row .col-sm-8 {
    padding-bottom: 15px;
}
.answers-row input[type=radio] {
	appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
}
.answers-row .btn-outline-primary.checked:not(:disabled):not(.disabled).active,
.answers-row .btn-outline-primary.checked:not(:disabled):not(.disabled):active
{
	background: #6a5db6;
	border-color: #6a5db6;
	color: #fff;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active
{
	color: #6a5db6;
	background: transparent;
	border-color: #6a5db6;
}
.btn-primary:disabled {
	background-color: #7a6fbe;
    border: 1px solid #7a6fbe;
}
.topbar .topbar-left .logo span {
	color: #fff;
}
.modules-content .directory-card .directory-overlay {
	background: #626095;
	color: #fff;
	font-size: 20px;
}
.pd-tb-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.pd-tb-10 {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
.pd-lr-0 {
	padding-left: 1.5rem!important;
	padding-right: 1.5rem!important;
}
.pd-bt-20 {
	padding-bottom: 20px;
}
.pd-tp-20 {
	padding-top: 20px;
}
.pd-bt-30 {
	padding-bottom: 30px;
}
.pd-tp-30 {
	padding-top: 30px;
}
.btn-block {
	display: block;
}
.text-left {
	text-align: left;
}
.light-red {
	color: #ec536c;
}
.bold-font {
	font-weight: bold;
}
.height100 {
	height: 100%;
}
.read-more {
	color: #ff5555;
}
.read-more:hover {
	color: #ff3333;
}
.queans-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
}
.queans-form {
	display: none;
}
.queans-form .answers-row {
	display: block;
}
.queans-form .answers-row .btn-block {
	text-align: left;
}
.input-error.alert.alert-danger {
	margin-bottom: 0;
	display: none;
}
.answer-status span {
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    margin-left: 15px;
}
.answer-status .alert-success {
	color: #32a758;
}
.answer-status .alert-success span {
	background: rgba(88, 219, 131, 0.7);
}
.answer-status .alert-danger span {
    background: rgba(236, 83, 108, 0.7);
}
.answer-status span i.fa {
    color: #fff;
    padding-top: 9px;
}
.adminmodule i.fa, .company-module i.fa {
    margin-right: 5px;
}
.quizresult .answer-status span {
	margin-left: 0;
	margin-right: 10px;
	width: 20px;
    height: 20px;
}
.quizresult .answer-status span i.fa {
    padding-top: 4px;
    font-size: 10px;
}
.quizresult #modelResult .card-header {
	padding: .5rem .75rem;
	margin-bottom: 15px;
}
.quizresult .answer-status .alert {
    padding: .5rem .5rem;
    margin-bottom: 0;
}
.answer-status .alert-success {
	color: #2e6740;
}
.answer-status .alert-success span {
    background: rgba(43, 121, 69, 0.7);
}
.modal-title {
    margin-top: 0;
    font-size: 20px;
}
.mr-rt-5 {
	margin-right: 5px;
}
.mr-bt-10 {
	margin-bottom: 10px;
}
.choose_upload_method label.btn.btn-primary
{
	background: transparent;
	color: #7a6fbe;
}
.choose_upload_method label.btn.btn-primary
{
	border-radius: 3px !important;
    font-size: 13px;
}
.choose_upload_method .btn-group>.btn:first-child {
	margin-right: 10px;
}
#video_up {
	margin-bottom: 10px;
}
button .waves-effect.waves-light {
	white-space: unset;
}

.remove_queans_field {
    margin-bottom: 15px;
}
.radansbox {
    margin-bottom: 15px;
}
.module-errors .card-body.text-white {
    padding: 0 1.25rem;
}


.content-page {
	position: relative;
}
div#loader { 
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	background: rgba(0,0,0,0.7);
    text-align: center;
}
div#loader img {
    max-width: 50px;
    height: auto;
    margin-left: 9px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.user-detail-box {
    padding: 10px 15px;
}
#modelResult h2 {
	font-size: 26px;
}
#modelResult h4.tryquiz-count {
	font-size: 18px;
	color: #222222;
}